body {

    background-image: url("KLpozadi.png");

}

button {
    scale: 150%;
    text-align: center;
    font-family: Stencil;
    font-size: 50px;
    color: dimgray;
    background-color: black;
    justify-content: center;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    position: relative;
    bottom: -250px;

    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;

}

button:hover{
    transform: scale(120%);
    color: orange;
    animation: zmenab 0.5s;
    animation-delay: 0.05s;
}

h1 {
    color: orange;
    text-align: center;
    font-family: "Stencil";
    border-style: dashed;
    border-color: orange;
}

header {
    background-color: #110f10;
    font-size: 100px;
}
p {
    font-size: 100px;
    color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;
    bottom: -25%;
}

#kostka1{
    scale: 80%;
    animation: img 0.25s ease-in ;
    animation-delay: 0s;
    position: relative;
    left: 5%;
    top: -2%;
}

#kostka2{
    scale: 80%;
    animation: img 0.25s ease-in ;
    animation-delay: 0.10s;
    position: relative;
    left: 10%;
    top: -2%;
}

#kostka3{
    scale: 80%;
    animation: img 0.25s ease-in ;
    animation-delay: 0.20s;
    position: relative;
    left: 15%;
    top: -2%;
}

#kostka4{
    scale: 80%;
    animation: img 0.25s ease-in ;
    animation-delay: 0.30s;
    position: relative;
    left: 5%;
    top: -2%;
}

#kostka5{
    scale: 80%;
    animation: img 0.25s ease-in ;
    animation-delay: 0.40s;
    position: relative;
    left: 10%;
    top: -2%;
}

#kostka6{
    scale: 80%;
    animation: img 0.25s ease-in;
    animation-delay: 0.50s;
    position: relative;
    left: 15%;
    top: -2%;
}

#h1v{
    font-family: "Arial Black";
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    color: red;
}

#h2v{
    font-family: "Arial Black";
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    color: blue;
}

#start{

    text-align: center;
    font-family: Stencil;
    font-size: 50px;
    color: dimgray;
    background-color: black;
    justify-content: center;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    position: relative;
    bottom: 50px;

    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;

}

#start:hover{
    transform: scale(120%);
    color: orange;
    animation: zmenab 0.5s;
    animation-delay: 0.05s;
}

#tutorial{
    text-align: center;
    font-family: Stencil;
    font-size: 50px;
    color: dimgray;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    position: relative;
    bottom: -50px;

    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;

}

#tutorial:hover{
    transform: scale(120%);
    color: orange;
    animation: zmenab 0.5s;
    animation-delay: 0.05s;
}

#potvrdit{
    scale: 125%;
    text-align: center;
    font-family: Stencil;
    font-size: 50px;
    color: dimgray;
    background-color: black;
    justify-content: center;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    position: sticky;

    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;

}

#ano1{
    font-size: 50px;
    color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;
    bottom: -20%;
}

#ne1{
    font-size: 50px;
    color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;
    bottom: -45%;
}

#potvrdit:hover{
    transform: scale(120%);
    color: orange;
    animation: zmenab 0.5s;
    animation-delay: 0.05s;
}

#tut1{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut2{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut3{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut4{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut5{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut6{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut7{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut8{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut9{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut10{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut11{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut12{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut13{
     font-size: 25px;
     font-family: Arial;
     color: white;
     position: relative;
     justify-content: left;
 }
#tut14{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#tut15{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}
#cbLJSPŠE{
    font-size: 25px;
    font-family: Arial;
    color: white;
    position: relative;
    justify-content: left;
}

@keyframes img {

    from{
        transform: translateX(100px) rotate(5deg);
        opacity: 0;
    }to {
             transform: translateY(20px)rotate(-5deg);
             opacity: 50;
         }to{
                transform: rotate(0deg);
                opacity: 100;
                   }
}

@keyframes zmenab{
    15%{
        color: orange;
    }30%{
        color: goldenrod;
    }45%{
        color: gold;
    }60%{
        color: wheat;
    }75%{
        color: gold;
    }90%{
        color: goldenrod;
    }100%{
        color: orange;
    }
}